In [1]:
import pandas as pd
import pubchempy as pcp

def get_canonical_smiles(compound_name):
    try:
        results = pcp.get_compounds(compound_name, 'name')
        if results:
            compound = results[0]
            print(compound)
            return compound.canonical_smiles
        else:
            return 'Null'
    except Exception as e:
        print('Error:', e)
        return 'Null'

In [2]:
plant_content = pd.read_csv('compounds.csv',encoding='gb18030')

In [3]:
compound_names = plant_content['name']

In [4]:
compound_names

0                                 9,17-Octadecadienal,(Z)
1                                    pentadecane,8-heptyl
2                   oxacyclotetradecane-2,11-dione-methyl
3               2，6，10-Dodecatrien-1-ol,3,7,11-trimethyl-
4       1，4-methano-1H-indene,octahydro-1,7a-dimethyl-...
                              ...
3563               6,6-Dimethylbicyclo[3.1.1]heptan-2-one
3564    4a, trans-4b,cis-8a, trans-10a-Perhydro-cis-2,...
3565            3,5,5-Trimethylbicyclo[2.2.1]heptan-2-one
3566                                         Pinocamphone
3567                                     cis-Pinonic acid
Name: name, Length: 3568, dtype: object

In [ ]:
# Get Canonical SMILES and save them to the plant list 
plant = []
for name in compound_names:
    canonical_smiles = get_canonical_smiles(name)
    plant.append((name, canonical_smiles))
    print(f'{name}:{canonical_smiles}')

In [22]:
df = pd.DataFrame(plant, columns=['Name', 'SMILES'])

In [23]:
df

,Name,SMILES
0,"6,10,14-Trimethylpentadecan-2-one",CC(C)CCCC(C)CCCC(C)CCCC(=O)C
1,Diacetone alcohol,CC(=O)CC(C)(C)O
2,1-Pentanol,CCCCCO
3,Tetracosane,CCCCCCCCCCCCCCCCCCCCCCCC
4,Tricosane,CCCCCCCCCCCCCCCCCCCCCCC
...,...,...
4491,"6,6-Dimethylbicyclo[3.1.1]heptan-2-one",CC1(C2CCC(=O)C1C2)C
4492,"4a, trans-4b,cis-8a, trans-10a-Perhydro-cis-2,...",Null
4493,"3,5,5-Trimethylbicyclo[2.2.1]heptan-2-one",CC1C2CC(C1=O)CC2(C)C
4494,Pinocamphone,CC1C2CC(C2(C)C)CC1=O
4495,cis-Pinonic acid,CC(=O)C1CC(C1(C)C)CC(=O)O

In [24]:
df.to_csv('compounds.csv', index=False)